*{
    font-family: Arial, Helvetica, sans-serif

}
body{
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
}
.hamburger-wrapper{
    width:30px;
    height:30px;
    border:0px solid #acacac;
    display:flex;
    align-items: center;
    border-radius:3px;
    
}
.hamburger-icon{
    border:2px solid #acacac;
    width:20px;
    height:3px;
    background:#acacac;
    display: block;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0px 6px 0px #acacac, 0px -6px 0px #acacac;
}
.hamburger-wrapper + input{
   display:none;
   
}
.hamburger-wrapper:hover{
    cursor:pointer;
}
.div-wrapper{
    max-height: 0px;
    transition: max-height .5s ease;
    overflow: hidden;
}
#hamburger-input:checked + .div-wrapper{
    max-height:1000px;
}
.div-wrapper ul{
    list-style: none;
    padding: 10px;
    background-color: hsl(255, 11%, 22%);
    border-radius: 5px;
}
.div-wrapper ul li{
    padding:10px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.parte2 {
    border-top:white 1px solid;
}
.div-wrapper ul li:last-child {
    height: 10px;
    background-color:hsl(180, 66%, 49%);
    border-radius: 50px;
}

.div-wrapper ul li:nth-child(4) {
    border-top:white 1px solid;
}

.div-wrapper ul li:last-child {
    height: 10px;
    background-color:hsl(180, 66%, 49%);
    border-radius: 50px;
}

section{
    width: 100%;
}
.div1{
    display: flex;
    flex-direction: column;
}
section .div1 img{
    width: 140%;
    margin-left: 10px;
}
section .div1 header{
    text-align: center;
    color: #333333;
    font-size: 12vw;
    font-weight: bold;
    padding: 10px;
}
section .div1 p{
    text-align: center;
    color: hsl(257, 7%, 63%);
    font-size: 6vw;
    padding: 15px;

} 
button{
    background-color: hsl(180, 66%, 49%);
    height: 50px;
    width: 50%;
    align-self: center;
    border-radius: 50px;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    border: none;
}
aside{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding-top: 150px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
aside h2{
    color: #333333;
    font-size: 8vw;
    font-weight: bold;
}
aside p{
    text-align: center;
    color: hsl(257, 7%, 63%);
    font-size: 4vw;
    display: block;
    width: 80%;
    margin-bottom: 50px;
}

aside .div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
aside .div2 article .imgbgd{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    padding: 15px;
    background-color: hsl(255, 11%, 22%);
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: -30px;
}
aside .div2 .imgbgd article img{
    width: 50%;
}
aside .div2 article{
    width: 85%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 40px;
}
aside .div2 article h2{
    margin-top: 50px;
}
aside .div3{
    width: 100%;
    height: 280px;
    background-color:  hsl(257, 27%, 26%);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
aside .div3 img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}
aside .div3 p{
    color: white;
    font-size: 7vw;
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 10;
}
footer{
   background-color: hsl(255, 11%, 22%);
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
}
footer h2{
    margin-top: 50px;
    font-size: 10vw;
}
footer div ul{
    width: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
footer div ul li{
    margin: 5px;
}

.socialmedia{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.socialmedia img{
    margin-left: 10px;
    margin-right: 10px;
}
/*Shorten link*/
#box-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#box-wrapper > div{
    margin-top: 2rem;
    width:80%;
    height: 15rem;
    background-color: red; /*BORRAR DESPUÉS*/
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#box-wrapper > div button{
    background-color: rgb(40, 209, 209);
    width: 100%;
    height: 40%;
    border-radius: 5px;
    color:white;
    font-size:2rem;
}
#box-wrapper > div:not(:first-of-type){
    background-color: white;
}
#box-wrapper > div:first-of-type input,#box-wrapper > div:first-of-type > button{
    width: 100%;
    height: 70%;
} 

#box-wrapper > div:first-of-type #input-container{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}
#box-wrapper > div:first-of-type #input-container input{
    height: 35%;
    font-size: 2rem;
}
#box-wrapper > div .highlight{
    color:rgb(40, 209, 209);
}
/*------- OTHER DIVS -------------*/
#box-wrapper #secondDiv,#box-wrapper #thirdDiv,#box-wrapper #fourthDiv{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    justify-content: space-around;
    font-size: 2rem;
    text-align: justify;
}
#box-wrapper #secondDiv button,#box-wrapper #thirdDiv button,#box-wrapper #fourthDiv button{
    width: 100%;
    justify-self: flex-end;
}
